.pixel-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.pixel-star {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fff;
  box-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff;
  transform: translate(-50%, -50%);
  animation: pixelate 0.5s steps(1) infinite;
}

@keyframes pixelate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
